<%- include('header.ejs'); -%>
<body style="margin-bottom: 5rem">
  <%- include('nav.ejs'); -%>
  <div
    id="carouselExampleAutoplaying"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="images/pexels-andrea-piacquadio-3796810.jpg"
          class="d-block w-100"
          alt="..."
          height="800px"
        />
      </div>
      <div class="carousel-item">
        <img
          src="images/pexels-leeloo-thefirst-7163939.jpg"
          class="d-block w-100"
          alt="..."
          height="800px"
        />
      </div>
      <div class="carousel-item">
        <img
          src="images/pexels-max-rahubovskiy-7031607.jpg"
          class="d-block w-100"
          alt="..."
          height="800px"
        />
      </div>
      <div class="carousel-item">
        <img
          src="images/4.png"
          class="d-block w-100"
          alt="..."
          height="800px"
        />
      </div>
      <div class="carousel-item">
        <img
          src="images/5.jpg"
          class="d-block w-100"
          alt="..."
          height="800px"
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <p class="lh-lg" style="padding: 1rem;">
    Welcome to the International Students Assistance in Canada.
    We understand the unique challenges that international students face when it comes to navigating health insurance claims, finding part-time job opportunities, and securing suitable accommodations in a new country. Our mission is to simplify this process and provide comprehensive support to make your experience as an international student in Canada seamless and fulfilling.</p>
   <h2> Our Services :</h2><br>

   <h3> Health Insurance Guidance:</h3>
    <p class="lh-lg" style="padding: 1rem;">Navigating the complexities of health insurance claims can be daunting. Our web application provides a user-friendly platform that guides you through the process, ensuring you have the information you need to make informed decisions about your health coverage.</p>
     
   <h3> Part-Time Job Opportunities:</h3>
    <p class="lh-lg" style="padding: 1rem;">Looking for part-time employment to support your studies and gain valuable work experience? Discover a range of part-time job opportunities tailored to international students. </p>
     
    <h3>Accommodations Assistance:</h3>
    <p class="lh-lg" style="padding: 1rem;">Finding suitable accommodations is a critical aspect of your stay in Canada. We provide resources and assistance to help you find comfortable and affordable housing options that meet your preferences and budget.</p>
    
  
</body>
<%- include('footer.ejs'); -%>
