<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Services
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/insurance">Health Insurance</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/accommodation">Accommodation</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/parttime">Part-Time Jobs</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/agent">Student Profiles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/adminfaqs">User FAQs</a>
           </li>
           <li class="nav-item">
            <a class="nav-link" href="/login">User Login</a>
           </li>
           <li class="nav-item"> 
            <a class="nav-link" href="/adminlogout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
